APP_NAME=MotoLotz
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://motolotz.com
APP_TIMEZONE=Asia/Tokyo
APP_LOCALE=ja
APP_FALLBACK_LOCALE=ja

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=motolotz
DB_USERNAME=motolotz
DB_PASSWORD=
MYSQL_ROOT_PASSWORD=

SESSION_DRIVER=database
CACHE_STORE=database
QUEUE_CONNECTION=database
FILESYSTEM_DISK=public

YOLP_URL=https://map.yahooapis.jp/search/local/V1/localSearch
YOLP_GEOCODE_URL=https://map.yahooapis.jp/geocode/V1/geoCoder
YOLP_CLIENT_ID=
